.bar-frame {
  margin: 16px;
  padding: 7px;

  min-width: 200px;
  max-width: 100%;

  border: solid 6px var(--color-primary);
  background-color: var(--color-lightgray);
}

.bar {
  border: solid 6px var(--color-darkgray);
  padding: 11px;
  padding-top: 4px;
  padding-bottom: 4px;

  text-align: center;
  position: relative;

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red-bar {
  background-color: var(--color-redgray);
}

.blue-bar {
  background-color: var(--color-darkblue);
}

.bar-text {
  color: var(--text-color-primary);

  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;

  position: relative;
  z-index: 10000;
  user-select: none;
}

.bar-fill {
  width: 0%;
  height: 100%;

  position: absolute;
  top: 0;

  left: 0;
  transition: 400ms width;
}

.red-bar-fill {
  background-color: var(--color-darkred);
}

.blue-bar-fill {
  background-color: var(--color-blue);
}
