.bar-frame {
  margin: 16px;
  padding: 7px;

  width: 50%;
  min-width: 200px;
  max-width: 600px;

  border: solid 6px black;
  background-color: #aabbbb;
}

.bar {
  border: solid 6px #333333;
  padding: 11px;
  padding-top: 4px;
  padding-bottom: 4px;
  
  text-align: center;
  position: relative;
}

.red-bar {
  background-color: #664444;
}

.blue-bar {
  background-color: #444f66;
}

.bar-text {
  color: white;

  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;

  position: relative;
  z-index: 10000;
  user-select: none;
}

.bar-fill {
  width: 0%;
  height: 100%;

  position: absolute;
  top: 0;

  left: 0;
  transition: 400ms width;
}

.red-bar-fill {
  background-color: #995555;
}

.blue-bar-fill {
  background-color: #556d99;
}