:root {
  --death-anim-delay: 1s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: calc(100vh - 60px);

  --color-primary: rgb(236, 236, 236);
  --shop-background: #abc8e5;
  --card-background: #eff4fb;
  --card-background-selected: #c8cdd3;
  --color-lightgray: #cbdfdf;
  --color-darkgray: #e2e2e2;
  --color-redgray: #664444;
  --color-blue: #7b9cdb;
  --color-darkblue: #7689b1;
  --color-yellow: rgb(179, 179, 105);
  --color-lightred: rgb(187, 110, 110);
  --color-red: rgb(201, 60, 60);
  --color-darkred: #c76e6e;
  --color-green: #418f3a;
  --color-lightpink: rgb(253, 215, 221);
  --color-pink: pink;
  --text-color-primary: black;
  --text-color-secondary: white;
}

body.dark {
  --color-primary: black;
  --shop-background: #46526d;
  --card-background: #5b616e;
  --card-background-selected: #6a6f7e;
  --color-lightgray: #aabbbb;
  --color-darkgray: #333333;
  --color-redgray: #664444;
  --color-blue: #556d99;
  --color-darkblue: #444f66;
  --color-yellow: rgb(207, 207, 116);
  --color-lightred: rgb(207, 116, 116);
  --color-red: rgb(231, 109, 109);
  --color-darkred: #995555;
  --color-green: #52a14b;
  --color-lightpink: rgb(253, 215, 221);
  --color-pink: pink;
  --text-color-primary: rgb(228, 228, 228);
  --text-color-secondary: black;
}

button:hover {
  filter: brightness(80%);
}

.content {
  display: grid;
  grid-template-areas:
    "info info info info"
    "shop enemy enemy enemy"
    "shop enemy enemy enemy"
    "shop enemy enemy enemy";
  grid-template-rows: 80px 1fr;
  height: 100%;
}

.enemy-container {
  grid-area: enemy;
  align-self: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("../src/img/background.png");
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center;
}

.shop-container {
  grid-area: shop;
  width: 100%;
  background-color: var(--color-darkgray);
}

.info-container {
  grid-area: info;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
}

.info-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  font-family: sans-serif;
  border: solid 6px var(--color-primary);
  border-right: none;
  padding-right: 6px;
  color: var(--text-color-secondary);
}

.info-text-title {
  font-size: 0.75rem;
  user-select: none;
}

.info-text-value {
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

.money-block {
  background-color: var(--color-yellow);
}

.damage-block {
  background-color: var(--color-lightred);
}

.hit-anim {
  animation: hit-anim 150ms;
}

.death-anim {
  pointer-events: none;
  animation: death-anim var(--death-anim-delay);
}

#enemyImage {
  -webkit-user-select: none;
  user-select: none;
  flex: 1;
  transition: transform 200ms;
}

#enemyImage:hover {
  transform: scale(1.05);
}

@keyframes hit-anim {
  0% {
    filter: hue-rotate(150deg) saturate(400%);
  }

  50% {
    transform: scale(0.9);
    filter: hue-rotate(150deg) saturate(400%);
  }
}

@keyframes death-anim {
  5% {
    filter: hue-rotate(150deg) saturate(400%);
    transform: translateX(-30%);
  }

  10% {
    filter: hue-rotate(150deg) saturate(400%);
    transform: translateX(30%);
  }

  15% {
    filter: hue-rotate(150deg) saturate(400%);
    transform: translateX(-15%);
  }

  20% {
    filter: hue-rotate(150deg) saturate(400%);
    transform: translateX(15%);
  }

  25% {
    filter: hue-rotate(150deg) saturate(400%);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
  }
}

#enemyName,
.info-text {
  color: black;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;
  user-select: none;
}

#enemyName {
  margin-top: 1rem;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.header-container {
  width: 100%;
  height: 60px;
  background-color: var(--color-darkgray);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-btn {
  border: solid 6px var(--color-primary);
  border-bottom: none;
  height: 100%;
  padding: 0 2rem;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--color-darkblue);
  color: var(--text-color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-btn:not(:last-of-type) {
  border-right: none;
}

.header-icon {
  --icon-size: 32px;
  width: var(--icon-size);
  height: var(--icon-size);
  fill: var(--text-color-primary);
}

.p-1 {
  padding: 0 1rem;
}

.m-0 {
  margin: 0;
}

.border-none {
  border: none;
}

.header-name {
  color: var(--text-color-primary);
  font-size: 2rem;
  font-weight: bold;
  font-family: sans-serif;
  margin-right: auto;
}

dialog {
  border-color: var(--color-darkgray);
  background-color: var(--color-darkblue);
  color: var(--text-color-primary);
  font-family: sans-serif;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.dialog-title {
  margin: 0;
  font-size: 2rem;
  margin-bottom: 2rem;
}

#settings-dialog form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 0.5rem;
}

.dialog-btn {
  grid-column: span 2;
  border: 3px solid var(--color-darkgray);
  background-color: var(--color-lightgray);
  color: var(--text-color-primary);
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.input-group {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.input-group:last-of-type {
  grid-column: 2;
}

.input-group-range {
  justify-content: space-between;
}

#total-statistics-dialog,
#statistics-dialog,
#save-load-dialog {
  width: 600px;
  max-width: 100%;
}

#total-statistics-dialog form,
#statistics-dialog form,
#save-load-dialog form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.slot-container {
  border: 6px solid var(--color-primary);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: sans-serif;
  background-color: var(--color-lightgray);
  cursor: pointer;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  transition: transform 200ms;
  user-select: none;
}

.slot-container > * {
  pointer-events: none;
}

.slot-disabled {
  cursor: default;
  pointer-events: none;
  filter: contrast(0.5);
}

.slot-active:hover {
  transform: scale(1.02);
}

.slot-active:active {
  transform: scale(0.98);
}

.slot-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlay {
  position: fixed;
  inset: 0;
}

#brightness-overlay {
  pointer-events: none;
  z-index: 99999999;
}

#audio-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  z-index: 100000;
}

.win-image {
  max-width: 300px;
  margin: 0 auto;
}

.win-title {
  font-size: 2.5rem;
  margin: 0 auto;
}

.win-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: max-content;
  margin: 0 auto;
}

.win-btn img {
  max-width: 150px;
}

.auto-click-enabled {
  user-select: none;
  pointer-events: none;
  position: fixed;
  right: 0;
  transform: translateX(200%);
  background-color: var(--card-background);
  padding: 8px;
  border-radius: 16px;
  filter: drop-shadow(4px 4px 1px rgba(0, 0, 0, 0.445));
  color: var(--text-color-primary);
  font-size: 1.5rem;
  margin: 8px;
  font-weight: bold;
  font-family: sans-serif;
  transition: transform 600ms;
  z-index: 1000000;
}

.auto-click-appear {
  transform: none;
}