:root {
  --death-anim-delay: 1s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: calc(100vh - 60px);
}

button:hover {
  filter: brightness(80%);
}

.content {
  display: grid;
  grid-template-areas:
    "info info info info"
    "shop enemy enemy enemy"
    "shop enemy enemy enemy"
    "shop enemy enemy enemy";
  grid-template-rows: 80px 1fr;
  height: 100%;
}

.enemy-container {
  grid-area: enemy;
  align-self: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.shop-container {
  grid-area: shop;
  width: 100%;
}

.info-container {
  grid-area: info;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
}

.info-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  font-family: sans-serif;
  border: solid 6px #333333;
}

.info-text-title {
  font-size: 0.75rem;
  user-select: none;
}

.info-text-value {
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

.money-block {
  background-color: rgb(207, 207, 116);
}

.damage-block {
  background-color: rgb(207, 116, 116);
}

.hit-anim {
  animation: hit-anim 150ms;
}

.death-anim {
  pointer-events: none;
  animation: death-anim var(--death-anim-delay);
}

#enemyImage {
  -webkit-user-select: none;
  user-select: none;
  flex: 1;
  transition: transform 200ms;
}

#enemyImage:hover {
  transform: scale(1.05);
}

@keyframes hit-anim {
  0% {
    filter: hue-rotate(150deg) saturate(400%);
  }

  50% {
    transform: scale(0.9);
    filter: hue-rotate(150deg) saturate(400%);
  }
}

@keyframes death-anim {
  5% {
    filter: hue-rotate(150deg) saturate(400%);
    transform: translateX(-30%);
  }

  10% {
    filter: hue-rotate(150deg) saturate(400%);
    transform: translateX(30%);
  }

  15% {
    filter: hue-rotate(150deg) saturate(400%);
    transform: translateX(-15%);
  }

  20% {
    filter: hue-rotate(150deg) saturate(400%);
    transform: translateX(15%);
  }

  25% {
    filter: hue-rotate(150deg) saturate(400%);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
  }
}

#enemyName,
.info-text {
  color: black;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;
  user-select: none;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.header-container {
  width: 100%;
  height: 60px;
  background-color: #333333;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-btn {
  border: solid 6px black;
  border-bottom: none;
  height: 100%;
  padding: 0 2rem;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #444f66;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-btn:not(:last-of-type) {
  border-right: none;
}

.header-icon {
  --icon-size: 32px;
  width: var(--icon-size);
  height: var(--icon-size);
  fill: white;
}

.p-1 {
  padding: 0 1rem;
}

.m-0 {
  margin: 0;
}

.border-none {
  border: none;
}

.header-name {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  font-family: sans-serif;
  margin-right: auto;
}

dialog {
  border-color: #333333;
  background-color: #444f66;
  color: white;
  font-family: sans-serif;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.dialog-title {
  margin: 0;
  font-size: 2rem;
  margin-bottom: 2rem;
}

#settings-dialog form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 0.5rem;
}

.dialog-btn {
  grid-column: span 2;
  border: 3px solid #333333;
  background-color: #aabbbb;
  color: #333333;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.input-group {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.input-group:last-of-type {
  grid-column: 2;
}

.input-group-range {
  justify-content: space-between;
}

#statistics-dialog,
#save-load-dialog {
  width: 600px;
  max-width: 100%;
}

#statistics-dialog form,
#save-load-dialog form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.slot-container {
  border: 6px solid black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: sans-serif;
  background-color: #aabbbb;
  cursor: pointer;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  transition: transform 200ms;
  user-select: none;
}

.slot-container > * {
  pointer-events: none;
}

.slot-disabled {
  cursor: default;
  pointer-events: none;
  filter: contrast(0.5);
}

.slot-active:hover {
  transform: scale(1.02);
}

.slot-active:active {
  transform: scale(0.98);
}

.slot-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlay {
  position: fixed;
  inset: 0;
}

#brightness-overlay {
  pointer-events: none;
  z-index: 99999999;
}

#audio-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  z-index: 100000;
}
